body {
  background-color: #1dafc3;
}

#fotoUser {
  border-radius: 50%;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.curriculoTitulo {
  background-color: #152d36;
  color: #1dafc3;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
}

.meuNome {
  color: #15505e;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
}

.sobreMimTitulo {
  color: whitesmoke;
  font-size: 20px;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
}

.listas {
  width: 40%;
  height: 300px;
  float: left;
  margin-left: 10%;
}

.curiosidadesTitulo {
  color: whitesmoke;
  font-size: 20px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  position: absolute;
  margin: 28px 170px;
}

.curiosidades {
  font-size: 18px;
  color: #15505e;
  margin: 80px;
}

h2 {
  color: whitesmoke;
  font-family: "Trebuchet MS", sans-serif;
}

h3 {
  color: whitesmoke;
  font-size: 20px;
  font-family: "Trebuchet MS", sans-serif;
}

.SobreMim {
  color: #15505e;
  font-size: 16px;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
}

.clear {
  clear: both;
}

.Social {
  margin-right: 10%;
  padding: auto;
  text-align: center;
  float: none;
}

.Social h4 {
  font-family: "Trebuchet MS", sans-serif;
  color: whitesmoke;
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
}

.icon-container {
  display: inline-block;
  padding-right: 5px;
  display: block;
  text-align: center;
}

.icone {
  width: 45px;
  margin-left: 5px;
}

.iconeGIT {
  width: 80px;
  height: 45px;
}
